{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Dziennik obecności</h4>
            </div>
            <div class="modal-body">
                <div class="dropdown">
                    <button class="btn btn-default btn-block dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Wybierz miesiąc
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        {% for month in months %}
                            <li><a href="{{ path('presence_show', {'month': month.month}) }}">{{ month.monthName|capitalize }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <a href="{{ path('presence_new') }}" class="btn btn-primary">Nowy uczeń</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
{% endblock %}
