{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Dziennik obecności</h4>
            </div>
            <div class="modal-body">
                <div class="dropdown">
                    <button class="btn btn-default btn-block dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Wybierz miesiąc
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        {% for month in months %}
                            <li><a href="{{ path('presence_show', {'month': month.month}) }}">{{ month.monthName|capitalize }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <a id="submit" data-url="{{ path('presence_new') }}" class="btn btn-primary pull-left btn-block">Nowy uczeń</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function () {
            $('#submit').click(function(e) {
                e.preventDefault();

                // submit button handling
                $(this).addClass('disabled').html('Proszę czekać...');
                $('#dropdownMenu').addClass('disabled');
                // /submit button handling

                // ajax call
                var url = $(this).attr('data-url');

                $.ajax({
                    url: url,
                    success: function (response) {
                        if(response.status == 'success') {
                            setTimeout(function(){ // Run toastr notification with success message
                                    toastr.options = {
                                        "positionClass": "toast-top-right",
                                        "closeButton": true,
                                        "progressBar": true,
                                        "showEasing": "swing",
                                        "timeOut": "6000"
                                    };
                                    toastr.success('<strong>Sukces! </strong> <br/><small>' + response.msg + '</small>');
                                },500
                            );

                            $('#submit').removeClass('disabled').html('Nowy uczeń');
                            $('#dropdownMenu').removeClass('disabled');
                        }
                    }
                });
                // /ajax call

                return false;
            });
        });
    </script>
{% endblock %}